@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


@layer components {
  /* A reusable style for your primary button */
  .btn-primary {
    @apply flex items-center px-4 py-2 text-sm font-medium text-white rounded-md bg-blue-700 hover:bg-blue-800 disabled:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500;
  }
  
  /* Add other reusable styles here if needed */
  .input {
    @apply block w-full px-3 py-2 mt-1 text-sm border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500;
  }

   .form-label {
      @apply block text-sm font-medium text-gray-600 mb-1;
  }
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
